* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    padding: 45px 0;
    height: 100%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    font-family: 'Red Hat Display', sans-serif;
    width: 450px;
    background-color: white;
    border-radius: 15px;
    margin: auto;

}

#Hero {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card {
    padding: 30px;
}

.order {
    text-align: center;
}

#orderP {
    padding: 15px 27px 25px 27px;
    color: grey;
}

.plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    padding: 15px;
    padding-bottom: 0;
    border-radius: 10px;
}

.Music {
    display: flex;
    align-items: center;
}

.annual {
    margin-left: 15px;
}

a {
    padding-right: 10px;
    color: hsl(245, 75%, 52%);
}

p {
    color: grey;
}

.cancel {
    margin-top: 30px;
}

button {
    background-color: hsl(245, 75%, 52%);
    border: none;
    color: white;
    width: 390px;
    height: 40px;
    border-radius: 7px;
    font-size: medium;
    box-shadow: 0px 7px 20px hsla(245, 70%, 50%, 0.399);
}

#cancelOrder {
    text-align: center;
    padding-top: 30px;
}

@media only screen and (max-width:375px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    h2 {
        margin: 0 30px 0 30px;
    }

    #orderP {
        padding: 10px 10px 25px 10px;
        color: grey;
    }

    p {
        color: grey;
    }

    .plan {
        padding: 10px;
    }

    a {
        padding-right: 2px;
    }

    .card {
        padding: 20px;
    }

    h4 {
        padding-bottom: 0px;
    }

    .container {
        width: 320px;
        padding-top: 0;
    }

    button {
        width: 280px;
        margin-right: 20px;
    }
}